@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 1600px;
    background-color: rgb(245, 245, 245);
}
nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 24px 160px;
}
.nav-title{
    max-width: 222px;
height: auto;
font-size: 32px;
font-weight: 700;
color: rgb(14, 14, 14);
}
nav ul li a{
    width: 116px;
height: 52px;
list-style: none;
text-decoration: none ;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
}

/* bannar part */

.bannar{
border-radius: 24px;
margin: 20px 160px 0px;
background: rgb(198, 228, 214);
}
.bannar-part{
    display: flex;
}
.bannar-subtitle{
    width: 622px;
height: auto;
margin-top: 117px;
margin-bottom: 16px;
margin-left: 60px;
color: rgba(14, 14, 14, 0.5);    
}
.bannar-title{
    max-width: 622px;
height: 201px;
font-size: 56px;
font-weight: 700;
margin-top: 0px;
margin-left: 60px;
margin-bottom: 24px;
color: rgb(14, 14, 14);
}
.bannar-btn{
    width: 270px;
height: 56px;
margin-left: 60px;
margin-bottom: 117px;
text-decoration: rgb(255, 255, 255);
border: none;
border-radius: 8px;
background: rgb(0, 106, 80);
}
.bannar-img{
    width: 474px;
    margin: 80px 100px 80px 0px;
}

/* bannar part end */

/* shared styles */
.layout{
  max-width: 1280px;
  height: auto; 
  margin-top: 80px;
  margin-left: 160px;
  margin-right: 160px;
   
}

/* pillars section */

.pillar-title{
    font-size: 40px;
font-weight: 700;   
margin-top: 80px;
margin-bottom: 0px;
color: rgb(14, 14, 14);
}
.pillars{
    display: flex;
    width: 302px;
    height: auto;
    gap: 24px;

}
.pillar{
    width: 302px;
height: 244px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background-color: white;
border-radius: 16px;
margin-top: 32px;
margin-right: 24px;
padding-top: 25px; 
padding-left: 24px;
}
.card-icon{
    width: 62px;
height: 62px;
margin-bottom: 0px;
}
.title{
    width: 254px;
height: 24px;
font-size: 20px;
font-weight: 700;
margin-top: 13px;
margin-bottom: 0px;
color: rgba(14, 14, 14, 0.8);
}
.description{
    width: 254px;
height: 72px;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
margin-bottom: 0px;
color: rgba(14, 14, 14, 0.7);
}

/* vision-future */

.vision-title{
    width: 1280px;
    font-size: 40px;
font-weight: 700;
margin-bottom: 0px;
color:rgb(14, 14, 14)
}
.future-description{
    width: 1280px;
    font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

.vision-future{
    display: flex;
}
.vision{
    width: 410.67px;
height: 325px;
box-sizing: border-box;
border-radius: 16px;
margin-right: 24px;
margin-top: 32px;
padding: 33px 32px;
background: rgba(84, 144, 245, 0.2);
}
.vision-descriptio{
    width: 346.67px;
height: 72px;
font-size: 16px;
font-weight: 40;
margin-bottom: 24px;
counter-reset: rgba(14, 14, 14, 0.7);
}
.btn{
    width: 122px;
height: 41px;
padding: 11px 20px 11px 20px;
border-radius: 8px;
margin-top: 24px;
}
.vision-2{
    background-color: rgb(198, 228, 214);
}
.vision-3{
    background-color: rgb(247, 235, 207);
}
.btn-1{
    border-radius: 8px;
border: none;
color: rgb(255, 255, 255);
background: rgb(84, 144, 245);
}
.btn-2{
    border-radius: 8px;
border: none;
color: rgb(255, 255, 255);
background: rgb(9, 161, 92);
}
.btn-3{
    border-radius: 8px;
border: none;
color: rgb(255, 255, 255);
background: rgb(255, 194, 57);
}
.extra{
    margin-top: 32px;
    width: 1280px;
height: 256px;
box-sizing: border-box;
padding: 48px 24px 0px 24px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}
.v-description{
    width: 1232px;
height: 96px;
font-size: 16px;
font-weight: 400;
margin-bottom: 0px;
}
.name-title{
    width: 1232px;
height: 24px;
font-size: 20px;
font-weight: 600;
margin-top: 0px;
 color: rgba(14, 14, 14, 0.8)
}

.name-description{
    height: 24px;
    font-size: 16px;
font-weight: 400;
margin-top: 0px;
margin-bottom: 48px;
color: rgba(14, 14, 14, 0.6);
}
.opinion{
height: auto;
}
table tr td{
    border: 2px solid black;
}

/* recent news */
.news-title{
    font-size: 40px;
font-weight: 700;
margin-bottom: 0px;
color: rgb(14, 14, 14);
}
.recent-news{
    display: flex;
    width: 1280px;
height: 402px;
border-radius: 24px;
margin-top: 32px;
margin-right: 32px;
background: rgb(255, 255, 255);
}
.global{
    width: 408px;
height: 306px;
border-radius: 24px;
margin: 48px 32px 48px 48px;
}
.recent-news-title{
    width: 744px;
height: 38px;
font-size: 32px;
font-weight: 700;
margin-bottom: 0px;
color: rgba(14, 14, 14, 0.8);
}
.al-jazeera{
    width: 134px;
height: 40px;
}
.date-time{
    width: 122px;
height: 24px;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
color: rgba(14, 14, 14, 0.7);
}
.global-description{
    width: 744px;
height: 72px;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
color:rgba(14, 14, 14, 0.7)
}
.read-btn{
    width: 139px;
height: 48px; 
align-items: center;
padding: 13px 26px 13px 26px;
border-radius: 8px;
color: rgb(255, 255, 255);
border: none;
background: rgb(0, 106, 80);
}